<div class="search">
    <div class="pseudoInput">
        <span class="material-icons zoom-pic"  id="zoom">search</span>
            <form class="search-form" name ="imageSearchForm" id="search-form">
                <input type="text" name="query" class="search-input" id="searchval" autocomplete="off" placeholder="Search images..." /> 
            </form>
        <span class="material-icons clear-el" id="clear-el">delete</span>
    </div>
 <progress value="0" max="100" class="progress-bar"></progress> 
</div>
<!-- -->
